:root {
  --font-family: "Poppins";

  --main-blue: rgb(85, 72, 255);
  --main-white: #ffffff;

  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  --primary-color: #2a3b4c;
  --secondary-color: #4a6d8c;
  --accent-color: #63c5da;
  --text-color: #e0e7ee;
  --dark-color: #1a232e;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-gray);
}

a {
  text-decoration: none;
  color: inherit;
}
